.filters-panel{
  .header, .footer{
    padding: 10px;
  }
  .header{
    border-bottom: solid 1px $default-boder-color;
  }
  .footer{
    border-top: solid 1px $default-boder-color;
  }
  .footer .btn{margin-right: 10px;}
  .column {
    float: left;
  }
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }
  .menu {
      width: 25%;
      background-color: $default-background-color;
  }
  .content {
      width: 75%;
      padding: 10px;
  }
  .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0px;
  }
  .menu li {
      padding: 8px;
  }
  .menu li.active {
      background-color: white;
  }
}

.filter-items {
  span{
    display: inline-block;
    margin: 10px;
    padding: $default-button-padding;
  }
  .inactive {
    border: solid 1px $default-boder-color;
  }
  .active{
    background-color: green;
    color: white;
  }


}
